body {
    margin: 0;
    padding: 0;
}

header {
    height: 300px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}