body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/images/Kakashi1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    height: 100px;
    width: 100%;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.5);
    display: flex;
    justify-content: ;
    align-items: center;
}

section {
    height: 400px;
    width: 100%;
}

footer {
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}